.story {
    width: 75%;
    margin: 0 auto;
    /* X, Y, blurr, color   We reduce the show in active state*/
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;

    // Added due &__shape transform
    padding-left: 9rem;
    font-size: $default-font-size;

    // Skew in X direction story
    // Skew in opposite direction its direct Childeren
    // We need to seperately apply skewX for shape because
    // It is already applying a transform
    transform: skewX(-12deg);
    & > * {
        transform: skewX(12deg);
    }

    &__shape {
        height: 15rem;
        width:  15rem;
        float: left;

        // for Circular shape outside
        // It is 50% of height and width therefore 7.5rem;
        // It is centered around center 50% 50%
        // It requires element to be floating and have defined dimension width and height
        // Only supported in Safari with webkit and Chrome
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path:circle(50% at 50% 50%); 
        clip-path:circle(50% at 50% 50%); 

        // In order to add space for a floating element we need transform and then translate 
        // Instead of adding Padding
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    // Caption Image parent $__shape
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        // Remove shakyness as we hover over the image Element
        backface-visibility: hidden;
    }

    // 100% of parent 50rem;
    &__img {
        height: 100%;
        // Make image center
        transform: translate(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
       transform: translate(-4rem) scale(1);
    // Brightness > 100% is bright and less than dull
       filter: blur(3px) brightness(80%)
    }
}