// It is a partial therefore we have added underscore in front of it
/*=========================================================
    RESETTING
  ===========================================================*/

  
  /* Resetting the Margins and Padding using universal Selector */
  *,
  *::before,
  *::after {
    margin: 0px;
    padding: 0px;
    /* We want to force inheritance by default */
    box-sizing: inherit;
  }
  
  /*
            Since we are converting the px to rem so that we can make responsive Design
            Therefore we convert 10px = 1 rem
            Since user can change the default font size. ByDefault font-size is 16px
            so the font-size of html is 16px;
            62.5*16 = 10px therefore the font-size is 62.5%
            Internet exploral dont support rems
          */
  html {
    font-size: 62.5%;
  }
  
  /* We are inheriting the Fonts of the Html Element */
  body {
   
    /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
  }