.u-center-text { text-align: center }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

// 1 rem = 10px
.u-margin-botton-small {
  margin-bottom: 1.5rem !important;
}


.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-bottom: 2rem !important;
}

